# cache and compiled files
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/
.pytest_cache/

# IDE
.vscode/
.mypy_cache/
.vscode/settings.json
\.idea/

# virtual environments
*venv*/

# builds
*build/
*.egg-info/
*dist/

# env
.env
.env.local

# files
uploads/
reports/

# logs
logs/

# temp
temp/
